
<article class="test-card--layout card-{{title | last}}" data-card-view="{{title | split(' ')[0] | lower}}" data-test-flip-on="{{false}}">
    {%- if title is not empty %}
        <header class="test-card-header">
            {% include "../components/_header.twig" with {
                "title": title,
                "headline": headline
            } only %}
        </header>
    {% endif %}
    {% if content is not empty %}
        <div class="test-card-content">
            {% include "../components/_copy.twig" with { "content": content } only %}
        </div>
    {% endif %}
    {% if cta is not empty %}
        <footer class="test-card-footer">
            {% include "../components/_button.twig" with cta only %}
        </footer>
    {% endif %}
</article>
